<div class="d-flex">
    <!-- SIDEBAR-->
    <div class="bg-dark border-right p-3" id="sidebar">
        <h3 class="text-light">Gift app</h3>
        <hr class="text-white">
        <div class="list-group list-reset">
            <a href="#" class="list-group-item list-group-item-action">
              Dashboard
          </a>
        </div>
    </div>
    <!--END SIDEBAR-->
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar gifts">
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia architecto similique. Pariatur deleniti labore ab, quasi voluptatibus reiciendis mollitia cupiditate dignissimos debitis, accusantium quaerat eaque sapiente rerum voluptas sunt.
            </div>
        </div>
    </div>
</div>